*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --outline-color: yellow;
  --warning-color: red;
}

body {
  background-color: ghostwhite;
}

.wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
}

header {
  align-items: center;
  background-color: white;
  color: black;
  display: flex;
  padding: 10px 0;
  width: 100%;
  & h1 {
    margin: 0;
  }
  & .side {
    flex: 1;
    padding: 0 20px;
    & img {
      height: 20%;
      width: 20%;
    }
  }
  & .right {
    text-align: right;
  }
  & .middle {
    flex: 2;
    text-align: center;
  }
}

.container {
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  max-width: 400px;
  padding: 20px;
  width: 100%;
}

.container.home {
  text-align: center;
}

button {
  background-color: cornflowerblue;
  border-radius: 4px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  &:focus {
    outline: 3px solid var(--outline-color);
  }
  &[disabled] {
    background-color: gray;
  }
}

.form-group {
  margin-top: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="password"],
input[type="text"] {
  border-radius: 4px;
  border: 1px solid gray;
  margin-bottom: 10px;
  padding: 10px;
  width: calc(100% - 20px);
  &:focus {
    outline: 3px solid var(--outline-color);
  }
}

.auth_error {
  color: var(--warning-color);
  margin-bottom: 15px;
  text-align: center;
}

noscript {
  color: var(--warning-color);
  font-size: 12px;
  height: 16px;
  margin-bottom: 15px;
}
